@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 font-sans antialiased scroll-smooth;
    -webkit-tap-highlight-color: transparent;
  }
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
